
#main-body {
    background-color: #d5e4d9;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the full viewport height */
}

#main-header{
    text-align: center;
    /*background-color: #1b4557;*/
    background-color: #A3D1C6;
    padding: 10px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    flex: 1; /* Pushes the footer to the bottom when there is little content */
}

#main-footer{
    text-align: center;
    font-size: 18px;
    background-color: #d5e4d9;
    color: black;
    padding: 10px;
}
